/venv

/[Hh]ome-editor/[Ll]ibrary/
/[Hh]ome-editor/[Tt]emp/
/[Hh]ome-editor/[Oo]bj/
/[Hh]ome-editor/[Bb]uild/
/[Hh]ome-editor/[Bb]uilds/
/[Hh]ome-editor/[Ll]ogs/
/[Hh]ome-editor/[Mm]emoryCaptures/
/[Hh]ome-editor/[Uu]serSettings/

/[Hh]ome-editor/Packages/com.unity.testtools.codecoverage/

/[Hh]ome-editor/*.csproj
/[Hh]ome-editor/*.sln
/[Hh]ome-editor/*.unitypackage
/[Hh]ome-editor/*.userprefs

.DS_Store
Thumbs.db