#search-wrapper{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #a2bffe;
}

#search{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.85);
  backdrop-filter: blur(12px);
  padding: 8px, 8px, 8px, 20px;
  border-radius: 999px;
}

#search-input{
  border: none;
  background: transparent;
  outline: none;
  font-size: 40;
}

#form-wrapper{
  justify-content: center;
}

#form{
  justify-content: center;
  text-align: center;
}

#result-wrapper{
  display: grid;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 550px;
  overflow-y: scroll;
  border: 2px solid blue;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
}

.result{
  overflow: hidden;
  border: 2px solid black;
  margin: 4px;
  width: 200px;
  height: 200px;
}

.result img {
  height: 100%;
  width: 100%;
  object-fit: contain; 
}